@media screen and (max-width: 768px) {
  .nav-links {
    position: fixed;
    left: 0;
    top: 0;
    /* height: 50vh; */
    width: 100%;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 60px;
    padding-bottom: 30px;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in;
  }
  .navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  .nav-links.active {
    transform: translateX(0%);
  }
  footer {
    border-radius: 30px 30px 0px 0px;
  }
  .burger {
    display: block;
  }
  .menu-right {
    display: flex;
  }
  :root {
    --top-padding: 40px;
  }
  .mobile-logo {
    display: block;
  }
  .benefits-container,
  .benefit-side-container {
    flex-direction: column;
  }

  .benefit-main,
  .benefit-side {
    flex-basis: 100%;
  }
  /* hero section */
  .hero-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .hero-content {
    text-align: center;
  }
  .hero-image img {
    max-width: 100%;
    border-radius: 80px 0px 80px 0px;
  }

  /* partners section */
  .partners-container img {
    width: 80px;
  }
  .partners-container ul {
    gap: 20px;
  }

  /* feature section */
  .feature-item {
    flex-basis: calc(
      50% - 40px
    ); /* Adjust for 2 items per row on smaller screens */
  }
  .product-features-interaction {
    flex-direction: column;
    align-items: center;
  }

  .feature-buttons {
    flex-wrap: wrap;
    padding: 0 0 30px 0;
    flex-direction: row;
    max-width: 400px;
    justify-content: center;
    align-items: center;
  }
  .product-features-description {
    padding-bottom: 32px;
  }
  .highlight-items {
    flex-direction: column;
  }
  .highlight-items-container {
    flex-direction: column;
    gap: 30px;
  }
  .highlight-item {
    max-width: 360px;
    height: 284px;
    border-radius: 32px 0px 32px 0px;
  }
  /* accordion */
  .accordion-section-cont {
    flex-direction: column;
    gap: 24px;
    padding: 30px 0;
  }
  .accordion,
  .hero2-img {
    width: 87%;
    margin: auto;
  }
  .contact-sec-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact-sec-text {
    width: 90%;
    padding: 40px 20px;
  }

  .hero3-img img {
    width: 100%;
    max-height: none;
    padding: 40px 20px;
    height: auto;
  }
  /* splide slide */
  .showcase-container {
    flex-direction: column;
  }
  .slider-container,
  .details-container {
    width: 100%;
  }
  .splide__track {
    border-radius: 31.07px 0px 31.07px 0px;
  }
  .product-details {
    padding: 24px 0px;
  }

  /* footer */
  .hero-footer-container {
    padding: 40px 20px;
    flex-direction: column;
    gap: 30px;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-brand img {
    max-width: 185px;
    width: 100%;
    height: auto;
  }
  .hero-footer-logo {
    width: 80%;
  }
  .hero-footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .hero-footer-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .hero-footer-social-icons {
    justify-content: center;
  }

  .email-subscribe-container {
    max-width: 100%;
    margin: 20px 0;
  }

  .trademark {
    padding-bottom: 1rem;
  }
  .accordion-toggle.active {
    border-bottom: 2px solid white;
  }
  .hero-footer-text ul {
    max-height: 0;
    gap: 5px;
    overflow: hidden;
    transition: max-height 0.5s ease, padding-top 0.5s ease-out;
    padding-top: 0;
    margin-top: 0;
  }

  .accordion-toggle.active + ul {
    max-height: 500px;
    padding-top: 20px;
  }

  .accordion-toggle {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 10px 0;
  }

  .accordion-toggle::after {
    content: "\203A";
    display: inline-block;
    transform: rotate(0);
    transition: transform 0.3s ease-in-out;
  }

  .accordion-toggle.active::after {
    transform: rotate(90deg);
  }

  .hero-footer-text li {
    padding: 10px 0;
  }

  /* product.html */
  .soft-section {
    padding-bottom: 50px;
  }
  .soft-container {
    flex-direction: column;
  }
  .soft-image,
  .soft-image2,
  .soft-content {
    width: 100%;
  }
  .soft-flip {
    flex-direction: column-reverse;
  }
  .soft-image img {
    max-width: 100%;
  }

  #img1 {
    max-width: 220px;
  }
  #img2 {
    max-width: 220px;
  }
  #img3 {
    max-width: 250px;
  }

  /* feature */
  .feature-split1-img img,
  .feature-split2-img img {
    display: none;
  }
  #split1-container {
    height: 550px;
  }
  .bed-mobile {
    display: block;
    object-fit: cover;
  }
  .feature-split1 {
    /* padding: 20px; */
    flex-direction: column;
    align-items: start;
    height: 550px;
  }
  .feature-split2 {
    flex-direction: column-reverse;
    align-items: start;
    height: 550px;
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .contact-sec-item {
    flex-direction: row;
    align-items: stretch;
    /* height: 370px; */
  }

  .contact-sec-text,
  .hero3-img {
    flex: 1;
  }

  .hero3-img img {
    width: 100%;
    /* max-width: 300px; */
    height: auto;
    object-fit: scale-down;
  }
}

@media screen and (min-width: 769px) and (max-width: 1040px) {
  .partners-container ul {
    gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  .features-container {
    flex-direction: column;
    align-items: center;
  }
  .feature-item {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 473px) {
  :root {
    --top-padding: 50px;
  }
}
@media screen and (min-width: 0px) and (max-width: 650px) {
  .benefit-content p {
    padding-bottom: 4rem;
  }
  .book-btn {
    padding: 0 40px 60px 0;
  }
}
@media screen and (min-width: 900px) and (max-width: 1800px) {
  .feature-image-display img {
    /* height: 500px !important; */
    width: 100%;
    object-fit: unset;
  }
}
@media screen and (min-width: 0px) and (max-width: 285px) {
  .product-rating {
    display: flex;
    flex-wrap: wrap;
  }
  .payment-options img {
    max-width: 30px;
    height: auto;
  }
  .accordion-button {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .thumbnail-1 {
    height: auto;
  }
}
@media screen and (min-width: 0px) and (max-width: 350px) {
  .book-btn {
    padding: 0 0 120px 0;
  }
  .benefit-content p {
    padding-bottom: 1rem;
  }
}
