* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --top-padding: 40px;
}

body {
  padding-top: var(--top-padding);
}

.notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 1000;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
}
.navbar {
  background-color: #181818;
}
.nav-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  max-width: 1440px;
  width: 87%;
  padding: 12px 0;
  margin: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.burger div.toggle.line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger div.toggle.line2 {
  opacity: 0;
}

.burger div.toggle.line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.menu-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cart-icon img {
  height: 30px;
  margin-right: 10px;
}
.mobile-logo {
  display: none;
}
/* hero section */

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
  width: 87%;
  margin: auto;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  gap: 20px;
}

.hero-content {
  flex: 1;
  /* min-width: 300px; */
}

.hero-title {
  color: #1f2937;
  margin-bottom: 20px;
  max-width: 600px;
  font-family: "Marcellus", serif;
  font-size: clamp(32px, 5vw, 54px);
  font-weight: 400;
  line-height: clamp(1.1em, 1.2em, 1.3em);
}

.hero-description {
  color: #314351;
  margin-bottom: 20px;
  max-width: 600px;
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 400;
  line-height: clamp(22px, 2.5vw, 24px);
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-now-btn {
  display: inline-block;
  background-color: #56b70c;
  color: white;
  padding: 12px 24px;
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 600;
  line-height: clamp(18px, 2.5vw, 20px);
  letter-spacing: 0.4px;
  cursor: pointer;
  border: none;
  border-radius: 140px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.book-now-btn:hover {
  background-color: #45a049;
}
.hero-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 200px 0px 200px 0px;
}

/* partners section */

.partners-section {
  background-color: #f1f1f1;
}

.partners-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.partners-container ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.partners-container img {
  width: 100px;
  height: auto;
  object-fit: cover;
}

/* feature section */
.features-section {
  padding: 41px 0;
}

.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1440px;
  margin: auto;
  gap: 20px;
}

.feature-item {
  flex-basis: calc(
    33.333% - 40px
  ); /* Adjust basis for 3 items per row, subtracting the gap */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature-image {
  width: 100%;
  max-width: 44px;
  height: auto;
}

.feature-description {
  margin-top: 16px;
  color: #1f2937;
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 500;
  line-height: clamp(22px, 2.5vw, 24px);
}

/* benefit section */
.benefits-section {
  padding: 20px;
  width: 87%;
  margin: auto;
}

.benefits-container {
  display: flex;
  max-width: 1440px;
  margin: auto;
  gap: 20px;
}

.benefit-main {
  flex: 1 1 50%;
  border-radius: 40px 40px 40px 0;
  background-color: #cecbc34d;
}

.benefit-side-container {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.benefit-side {
  flex-grow: 1;
  background-color: #cecbc34d;
}
.side1 {
  border-radius: 40px 0px 40px 0;
}
.side2 {
  border-radius: 0px 40px 0px 40px;
}
.benefit-content {
  padding: 32px;
}
.benefit-content h4 {
  font-family: "Marcellus", serif;
  font-size: clamp(18px, 3vw, 24px);
  font-weight: 400;
  line-height: clamp(28px, 4vw, 32px);
  padding-bottom: 8px;
}
.benefit-content p {
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 2.5vw, 15px);
  font-weight: 400;
  line-height: clamp(24px, 2.5vw, 26px);
}
.book-btn {
  display: inline-block;
  color: #56b70c;
  padding: 30px 0px;
  font-family: "Segoe UI", sans-serif;
  font-size: clamp(16px, 3vw, 18px);
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.benefit-image img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.benefit-main,
.benefit-side {
  position: relative;
}

.benefit-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.benefit-content {
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .benefits-container,
  .benefit-side-container {
    flex-direction: column;
  }

  .benefit-main,
  .benefit-side {
    flex-basis: 100%;
  }
}

/* product-feature */
.product-features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  text-align: center;
  width: 87%;
  box-sizing: border-box;
}
.product-features-interaction {
  display: flex;
  width: 100%;
  justify-content: center;
}
.product-features-description {
  padding: 60px 0;
  text-align: center;
}
.product-features-description h1 {
  font-family: "Marcellus", serif;
  font-size: clamp(24px, 4vw, 40px);
  font-weight: 400;
  line-height: 1.25;
}
.product-features-description p {
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 2.5vw, 15px);
  font-weight: 400;
  line-height: 30px;
}
.feature-buttons {
  display: flex;
  flex-direction: column;
  padding: 84px 0 0 64px;
  gap: 24px;
  max-width: 300px;
  flex-shrink: 0;
}
.feature-buttons button {
  cursor: pointer;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 12px;
  border: 1px solid #080f340f;
  box-shadow: 0px 4px 4px #080f340f;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 2.5vw, 16px); /* Adjusts between 14px and 15px */
  font-weight: 400;
  line-height: 20px;
}
.feature-buttons button.active {
  border-left: 4px solid black;
}
.feature-image-display {
  gap: 10px;
  flex-grow: 1;
  max-width: 100%;
}
.image-resize {
  width: 100%;
  max-width: 45%;
  object-fit: cover;
  transition: width 0.6s ease-in-out;
}
#feature-image1 {
  border-radius: 20px 0 0 20px;
}
#feature-image2 {
  border-radius: 0 20px 20px 0;
}
@media screen and (max-width: 768px) {
  .product-features-interaction {
    flex-direction: column;
    align-items: center;
  }
  .feature-image-display {
    flex-direction: column;
  }
  .feature-buttons {
    flex-wrap: wrap;
    padding: 0 0 30px 0;
    flex-direction: row;
    max-width: 400px;
    justify-content: center;
    align-items: center;
  }
  .product-features-description {
    padding-bottom: 32px;
  }
}
/* coool feature section */
.cool-features-container {
  display: flex;
  gap: 1px;
}
.cool-features {
  max-width: 1440px;
  width: 87%;
  margin: auto;
  padding-bottom: 5rem;
}
.cool-features-details {
  flex: 70%;
  display: flex;
  background: linear-gradient(rgb(242, 244, 246), rgb(87, 131, 196));
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.cfd {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding: 30px 10px;
}
.cool-features-details h2 {
  font-family: "Nanum Gothic Coding", monospace;
  font-size: clamp(24px, 5vw, 40px);
  font-weight: 400;
  line-height: clamp(1.2, 1.2vw, 1.2375);
}
.cool-features-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cool-feature-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cool-feature-item img {
  width: 20px;
  height: auto;
}
.cool-feature-item p {
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 2.5vw, 16px);
  font-weight: 400;
  line-height: 24px;
}
.cool-features-image {
  background-image: url("images/white-pillows.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cool-features-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.booked-btn {
  padding: 10px 20px;
  background-color: white;
  color: #1a478a;
  text-decoration: none;
  border-radius: 9999px;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 2.5vw, 16px);
  font-weight: 500;
  line-height: 20px;
}
.swiper {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-button-next,
.swiper-button-prev {
  color: black;
  padding: 15px 20px;
  width: 14px;
  height: 20px;
  border-radius: 6px;
  background: #dedede42;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: black;
  font-size: 20px;
}
.swiper-pagination-bullet {
  width: 32px;
  height: 2px;
  background-color: black;
  border-radius: 0;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #000;
}

/* client-review section */

.client-review-header h2 {
  font-family: "Marcellus", serif;
  font-size: clamp(28px, 4vw, 40px);
  font-weight: 400;
  line-height: 1.25;
  padding-bottom: 16px;
}
.client-review-header p {
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 2.5vw, 16px);
  font-weight: 400;
  line-height: 24px;
}
.trustpilot-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
}

.rating-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.rating-info p {
  font-family: "Poppins", sans-serif;
  font-size: clamp(12px, 2.5vw, 14px);
  font-weight: 500;
  line-height: 1.5;
}
.rating-and-reviews {
  display: flex;
  align-items: center;
  gap: 3px;
}
.rating-and-reviews p {
  font-family: "Poppins", sans-serif;
  font-size: clamp(12px, 2.5vw, 14px);
  font-weight: 700;
  line-height: 1.5;
}
.rating-and-reviews img {
  width: 16px;
  height: auto;
}

.rating-info span {
  color: #b0b0b0;
  font-family: "Poppins", sans-serif;
  font-size: clamp(12px, 2.5vw, 14px);
  font-weight: 400;
  line-height: 1.5;
}

.scroller {
  width: 100%;
  margin: auto;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  flex-wrap: nowrap;
  -webkit-animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@-webkit-keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.client-review-section {
  background-color: #f5f5f5;
}
.client-review-container {
  max-width: 1440px;
  margin: auto;
  text-align: center;
  padding: 50px 0;
}
.reviews-section-cont {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.reviews-container {
  display: flex;
  width: 470px;
  height: auto;
  gap: 20px;
  border-radius: 24px 0px 0px 0px;
  opacity: 0px;
  background: white;
  padding: 11px;
  box-shadow: 0px 6px 18px 0px #080f340d;
  text-align: left;
}
.reviews-cont-text h4 {
  font-family: "Marcellus", serif;
  font-size: clamp(18px, 2.5vw, 20px);
  font-weight: 400;
  line-height: 25px;
}
.reviews-cont-text p {
  font-family: "Poppins", sans-serif;
  font-size: clamp(12px, 2.5vw, 14px);
  font-weight: 400;
  line-height: 1.5;
}
.reviews-cont-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews-cont-flex h6 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(12px, 2.5vw, 14px);
  font-weight: 700;
  line-height: 1.5;
}
.reviews-cont-flex span {
  font-family: "Inter", sans-serif;
  font-size: clamp(12px, 2.5vw, 14px);
  font-style: italic;
  font-weight: 400;
  line-height: 17px;
  display: flex;
}
.reviews-cont-img img {
  width: 190px;
  height: auto;
  object-fit: cover;
  border-radius: 24px 0px 24px 0px;
}

/* client-comfort-section */
.client-comfort-section {
  max-width: 1440px;
  margin: auto;
}
.client-comfort-header h2 {
  text-align: center;
  margin-top: 50px;
  font-family: "Marcellus", serif;
  font-size: clamp(28px, 4vw, 40px);
  font-weight: 400;
  line-height: 1.25;
  padding-bottom: 16px;
}
.client-comfort-header p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 2.5vw, 16px);
  font-weight: 400;
  line-height: 24px;
}
.client-comfort-cont {
  width: 385px;
  height: auto;
  padding: 30px;
  border-radius: 60px 0px 60px 0px;
  background-color: #cecbc333;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.client-comfort-cont p {
  font-family: "Poppins", sans-serif;
  font-size: clamp(13px, 2.5vw, 15px);
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}
.c3-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.c3-profile h4 {
  font-family: "Marcellus", serif;
  font-size: clamp(18px, 3vw, 20px);
  font-weight: 400;
  line-height: 30px;
}
.c3-profile h5 {
  font-family: "Lato", sans-serif;
  font-size: clamp(10px, 2.5vw, 12px);
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 5px;
}
.swiper1-button-next,
.swiper1-button-prev {
  color: #56b70c;
}
.swiper1-button-next::after,
.swiper1-button-prev::after {
  color: #56b70c;
}
.mySwiper1 {
  padding-top: 50px;
  padding-bottom: 20px;
  width: 95%;
  margin: auto;
}

/* product highlight  */
.product-highlights-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 30px;
}

.highlight-items-container {
  display: flex;
  justify-content: space-around; /* Evenly space the items */
  gap: 20px; /* Add space between items */
  max-width: 1440px; /* Adjust based on your preference */
  margin: auto;
}

.highlight-item {
  max-width: 350px;
  text-align: center;
  height: 400px;
  padding: 20px;
  border-radius: 24px 0px 24px 0px;
}
.highlight-item h5 {
  text-align: left;
  font-family: "Marcellus", serif;
  font-size: clamp(20px, 2.5vw, 22.89px);
  font-weight: 400;
  line-height: 1.25;
  color: black;
}
.shop-link {
  display: inline-block;
  margin-top: 10px;
  background-color: white;
  color: black;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 26px;
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 3vw, 16px);
  font-weight: 400;
  line-height: 1.125;
}
.cover1 {
  background-image: url("images/covers1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover2 {
  background-image: url("images/covers2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover3 {
  background-image: url("images/covers3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .highlight-items {
    flex-direction: column;
  }
  .highlight-items-container {
    flex-direction: column;
    gap: 30px;
  }
  .highlight-item {
    max-width: 360px;
    height: 284px;
    border-radius: 32px 0px 32px 0px;
  }
}

/* accordion section */
.accordion-section {
  max-width: 1440px;
  margin: auto;
  width: 87%;
  text-align: center;
}
.accordion-section h2 {
  font-family: "Marcellus", serif;
  font-size: clamp(24px, 4vw, 40px);
  font-weight: 400;
  line-height: 1.25;
  padding-bottom: 16px;
}
.accordion-section p {
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 2.5vw, 16px);
  font-weight: 400;
  line-height: 19px;
}
.accordion-section-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}
.accordion {
  max-width: 500px;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.accordion-item {
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 3.370535373687744px 10.785713195800781px 0px #080f340f;
}
.accordion-button {
  width: 100%;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: white;
  color: black;
  transition: background-color 0.5s ease;
  font-family: "Marcellus", serif;
  font-size: clamp(14px, 2.5vw, 16px);
  font-weight: 400;
  line-height: 1.18;
}

.accordion-button.active {
  border-top: 3px solid #56b70c;
}

.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;
  font-family: "Poppins", sans-serif;
  font-size: clamp(12px, 2.5vw, 14px);
  font-weight: 400;
  line-height: 1.57;
}

.accordion-button .arrow {
  font-size: 25px;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3.370535373687744px 10.785713195800781px 0px #080f340f;
  transition: background-color 0.5s, color 0.5s, transform 0.5s;
}

.accordion-button.active .arrow {
  background-color: black;
  color: white;
  transform: rotate(90deg);
}

.accordion-content p {
  padding: 10px;
  text-align: left;
}
.hero2-img img {
  width: 100%;
  max-width: 530px;
  height: auto;
  border-radius: 60px 0px 60px 0px;
}
.hero2-img {
  width: 50%;
}

/* contact-section */
.contact-section {
  max-width: 1440px;
  margin: auto;
  width: 87%;
  padding-bottom: 50px;
}

.contact-sec-item {
  background-image: url("images/frame-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: auto;
  border-radius: 60px 0px 60px 0px;
  display: flex;
  justify-content: space-between;
  color: white;
  overflow: hidden;
}

.contact-sec-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 90px 0px 90px 80px;
}

.hero3-img {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero3-img img {
  max-width: 500px;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  border-radius: 60px 0px 60px 0px;
}
.contact-sec-text h2 {
  font-family: "Marcellus", serif;
  font-size: clamp(28px, 5vw, 40px);
  font-weight: 400;
  line-height: 1.25;
}
.contact-sec-text p {
  max-width: 450px;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 2.5vw, 16px);
  font-weight: 400;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .contact-sec-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact-sec-text {
    width: 90%;
    padding: 40px 20px;
  }

  .hero3-img img {
    width: 100%;
    max-height: none;
    padding: 40px 20px;
    height: auto;
  }
}
@media (min-width: 769px) and (max-width: 950px) {
  .contact-sec-item {
    flex-direction: row;
    align-items: stretch;
    /* height: 370px; */
  }

  .contact-sec-text,
  .hero3-img {
    flex: 1;
  }

  .hero3-img img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: scale-down;
  }
}

/* footer */
footer {
  width: 100%;
  background: black;
  color: white;
  border-radius: 60px 60px 0px 0px;
}
.hero-footer-container {
  max-width: 1440px;
  margin: auto;
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
}
.hero-footer-logo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero-footer-social-icons {
  display: flex;
  gap: 20px;
}
.hero-footer-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.hero-footer-info {
  display: flex;
  gap: 20px;
}
.hero-footer-text {
  flex: 1;
  text-decoration: none;
}
.hero-footer-text ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: clamp(13px, 2.5vw, 15px);
  font-weight: 400;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-footer-text h3 {
  font-family: "Marcellus", serif;
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 21px;
}
.trademark {
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 0 !important;
  font-family: "Inter", sans-serif;
  font-size: clamp(12px, 2.5vw, 14px);
  font-weight: 400;
  line-height: 21px;
}
.email-subscribe-container {
  position: relative;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
}

.email-input {
  width: 100%;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  outline: none;
  background: #ffffff1a;
  font-family: "Poppins", sans-serif;
  font-size: clamp(12px, 2vw, 14px);
  font-weight: 400;
  line-height: 21px;
}

.subscribe-btn {
  position: absolute;
  right: 0;
  border: none;
  background-color: #fafbfc;
  color: rgb(17, 11, 11);
  padding: 10px 20px;
  border-radius: 39px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: clamp(12px, 2vw, 14px);
  font-weight: 400;
  line-height: 21px;
}

.email-input:focus + .subscribe-btn,
.subscribe-btn:focus {
  outline: none;
}

@media (max-width: 768px) {
  .hero-footer-container {
    padding: 40px 20px;
    flex-direction: column;
    gap: 30px;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-brand img {
    max-width: 185px;
    width: 100%;
    height: auto;
  }
  .hero-footer-logo {
    width: 80%;
  }
  .hero-footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .hero-footer-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .accordion-toggle::after {
    content: "\203A";
    display: inline-block;
    font-size: 25px;
    margin-left: 50px;
    transform: rotate(0);
    transition: transform 0.5s ease-in-out;
  }

  .accordion-toggle.active::after {
    transform: rotate(90deg);
  }
  .hero-footer-social-icons {
    justify-content: center;
  }

  .email-subscribe-container {
    max-width: 100%;
    margin: 20px 0;
  }

  .trademark {
    padding-bottom: 1rem;
  }

  .hero-footer-text ul {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  .accordion-toggle.active + ul {
    display: block;
    max-height: 500px;
    transition: max-height 0.5s ease-out;
  }

  .accordion-toggle {
    width: 95%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding-bottom: 10px;
    transition: border-bottom 0.3s ease-in-out;
  }
  .accordion-toggle.active {
    border-bottom: 2px solid white;
  }

  .hero-footer-text li {
    padding: 10px;
  }
}

/* product page */

/* soft section */
.soft-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}

.soft-container {
  display: flex;
  align-items: center;
  max-width: 1440px;
  width: 87%;
  margin: auto;
  gap: 46px;
}

.soft-image img {
  width: 100%;
  max-width: 565px;
  height: auto;
  border-radius: 80px 0px 80px 0px;
}
.soft-content {
  flex: 1;
  max-width: 492px;
}
.soft-flip-cont {
  background-color: #f5f5f5;
  margin-bottom: 50px;
}
.soft-content h2 {
  font-family: "Marcellus", serif;
  color: #333;
  margin-bottom: 15px;
  font-size: clamp(20px, 2.5vw, 22.89px);
  font-weight: 400;
  line-height: 1.25;
}

.soft-content p {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 400;
  line-height: 20px;
}
@media (max-width: 768px) {
  .soft-section {
    padding-bottom: 50px;
  }
  .soft-container {
    flex-direction: column;
  }
  .soft-flip {
    flex-direction: column-reverse;
  }
  .soft-image img {
    max-width: 100%;
  }
}
