* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --top-padding: 40px;
}

body {
  padding-top: var(--top-padding);
}

.notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 1000;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar {
  background-color: #181818;
}
.nav-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  max-width: 1440px;
  width: 87%;
  padding: 12px 0;
  margin: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 15px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.burger div.toggle.line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger div.toggle.line2 {
  opacity: 0;
}

.burger div.toggle.line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.menu-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cart-icon img {
  height: 30px;
  margin-right: 10px;
}

/* hero section */

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
  width: 87%;
  margin: auto;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  gap: 20px;
}

.hero-content {
  flex: 1;
  /* min-width: 300px; */
}

.hero-title {
  color: #1f2937;
  margin-bottom: 20px;
  max-width: 600px;
}

.hero-description {
  color: #314351;
  margin-bottom: 20px;
  max-width: 600px;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-now-btn {
  display: inline-block;
  background-color: #56b70c;
  color: white;
  padding: 12px 24px;
  /* font-size: 16px;  */
  cursor: pointer;
  border: none;
  border-radius: 140px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.book-now-btn:hover {
  background-color: #45a049;
}
.hero-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 200px 0px 200px 0px;
}

/* partners section */

.partners-section {
  background-color: #f1f1f1;
}

.partners-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.partners-container ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.partners-container img {
  width: 100px;
  height: auto;
  object-fit: cover;
}

/* feature section */
.features-section {
  padding: 41px 0;
}

.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1440px;
  margin: auto;
  gap: 20px;
}

.feature-item {
  flex-basis: calc(
    33.333% - 40px
  ); /* Adjust basis for 3 items per row, subtracting the gap */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature-image {
  width: 100%;
  max-width: 44px;
  height: auto;
}

.feature-description {
  margin-top: 16px;
  color: #1f2937;
}

/* benefit section */
.benefits-section {
  padding: 20px;
  width: 87%;
  margin: auto;
}

.benefits-container {
  display: flex;
  max-width: 1440px;
  margin: auto;
  gap: 20px;
}

.benefit-main {
  flex: 1 1 50%;
  border-radius: 40px 40px 40px 0;
  background-color: #cecbc34d;
}

.benefit-side-container {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.benefit-side {
  flex-grow: 1;
  background-color: #cecbc34d;
}
.side1 {
  border-radius: 40px 0px 40px 0;
}
.side2 {
  border-radius: 0px 40px 0px 40px;
}
.benefit-content {
  padding: 32px;
}
.benefit-content h4 {
  font-family: Marcellus;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 8px;
}
.benefit-content p {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}
.book-btn {
  display: inline-block;
  color: #56b70c;
  padding: 30px 0px;
}

.benefit-image img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.benefit-main,
.benefit-side {
  position: relative;
}

.benefit-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.benefit-content {
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .benefits-container,
  .benefit-side-container {
    flex-direction: column;
  }

  .benefit-main,
  .benefit-side {
    flex-basis: 100%;
  }
}

/* product-feature */
.product-features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  text-align: center;
  width: 87%;
  box-sizing: border-box;
}
.product-features-interaction {
  display: flex;
  width: 100%;
  justify-content: center;
}
.product-features-description {
  padding: 60px 0;
  text-align: center;
}
.feature-buttons {
  display: flex;
  flex-direction: column;
  padding: 84px 0 0 64px;
  gap: 24px;
  max-width: 300px;
  flex-shrink: 0;
}
.feature-buttons button {
  cursor: pointer;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 12px;
  border: 1px solid #080f340f;
  box-shadow: 0px 4px 4px #080f340f;
  transition: all 0.3s ease;
}
.feature-buttons button.active {
  border-left: 4px solid black;
}
.feature-image-display {
  gap: 10px;
  flex-grow: 1;
  max-width: 100%;
}
.image-resize {
  width: 100%;
  max-width: 45%;
  object-fit: cover;
  transition: width 0.6s ease-in-out;
}
#feature-image1 {
  border-radius: 20px 0 0 20px;
}
#feature-image2 {
  border-radius: 0 20px 20px 0;
}
@media screen and (max-width: 768px) {
  .product-features-interaction {
    flex-direction: column;
    align-items: center;
  }
  .feature-image-display {
    flex-direction: column;
  }
  .feature-buttons {
    flex-wrap: wrap;
    padding: 0 0 30px 0;
    flex-direction: row;
    max-width: 400px;
    justify-content: center;
    align-items: center;
  }
  .product-features-description {
    padding-bottom: 32px;
  }
}
/* coool feature section */
.cool-features-container {
  display: flex;
  gap: 1px;
}
.cool-features {
  max-width: 1440px;
  width: 87%;
  margin: auto;
  padding-bottom: 5rem;
}
.cool-features-details {
  flex: 70%;
  display: flex;
  background: linear-gradient(rgb(242, 244, 246), rgb(87, 131, 196));
  flex-direction: column;
  gap: 44px;
  align-items: center;
  justify-content: center;
  color: white;
}

.cool-features-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cool-feature-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cool-feature-item img {
  width: 20px;
  height: auto;
}

.cool-features-image {
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cool-features-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.booked-btn {
  padding: 10px 20px;
  background-color: white;
  color: #1a478a;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .cool-features-image img {
    width: auto;
    height: 100%;
    max-width: auto;
  }

  .cool-features-image {
    height: 100%;
  }

  .cool-features-details,
  .cool-features-image {
    width: 100%;
    flex-basis: auto;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-button-next,
.swiper-button-prev {
  color: black;
  padding: 15px 20px;
  width: 14px;
  height: 20px;
  border-radius: 6px;
  background: #dedede42;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: black;
  font-size: 20px;
}
.swiper-pagination-bullet {
  width: 32px;
  height: 2px;
  background-color: black;
  border-radius: 0;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #000;
}

/* client-review section */

.trustpilot-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
}

.rating-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.rating-and-reviews {
  display: flex;
  align-items: center;
  gap: 3px;
}

.rating-and-reviews img {
  width: 16px;
  height: auto;
}

.rating-info span {
  color: #b0b0b0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 12.83px;
}

.scroller {
  width: 100%;
  margin: auto;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  flex-wrap: nowrap;
  -webkit-animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@-webkit-keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.client-review-section {
  background-color: #f5f5f5;
}
.client-review-container {
  max-width: 1440px;
  margin: auto;
  text-align: center;
  padding: 50px 0;
}
.reviews-section-cont {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.reviews-container {
  display: flex;
  width: 470px;
  height: auto;
  gap: 20px;
  border-radius: 24px 0px 0px 0px;
  opacity: 0px;
  background: white;
  padding: 11px;
  box-shadow: 0px 6px 18px 0px #080f340d;
  text-align: left;
}
.reviews-cont-img img {
  width: 190px;
  height: auto;
  object-fit: cover;
  border-radius: 24px 0px 24px 0px;
}

/* client-comfort-section */
.client-comfort-section {
  max-width: 1440px;
  margin: auto;
}
.client-comfort-header h2 {
  text-align: center;
  margin-top: 50px;
}
.client-comfort-header p {
  text-align: center;
}
.client-comfort-cont {
  width: 385px;
  height: auto;
  padding: 30px;
  border-radius: 60px 0px 60px 0px;
  background-color: #cecbc333;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.client-comfort-cont p {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}
.c3-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.swiper1-button-next,
.swiper1-button-prev {
  color: #56b70c;
}
.swiper1-button-next::after,
.swiper1-button-prev::after {
  color: #56b70c;
}
.mySwiper1 {
  padding-top: 50px;
  padding-bottom: 20px;
  width: 95%;
  margin: auto;
}

/* product highlight  */
.product-highlights-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 30px;
}

.highlight-items-container {
  display: flex;
  justify-content: space-around; /* Evenly space the items */
  gap: 20px; /* Add space between items */
  max-width: 1440px; /* Adjust based on your preference */
  margin: auto;
}

.highlight-item {
  max-width: 350px;
  text-align: center;
  height: 400px;
  padding: 20px;
  border-radius: 24px 0px 24px 0px;
}
.highlight-item h5 {
  text-align: left;
  font-family: Marcellus;
  font-size: 22.89px;
  font-weight: 400;
  line-height: 28.71px;
  color: wheat;
}
.shop-link {
  display: inline-block;
  margin-top: 10px;
  background-color: white; /* Example button color */
  color: black;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 26px; /* Rounded button edges */
}
.cover1 {
  background-image: url("images/covers1.jpg");
  background-position: center;
  background-size: cover; /* Example: Reduces the width of the image to 50% of the container */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover2 {
  background-image: url("images/covers2.jpg");
  background-position: center;
  background-size: cover; /* Adjusts the size similarly */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover3 {
  background-image: url("images/covers3.jpg");
  background-position: center;
  background-size: cover; /* Consistent sizing across all */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .highlight-items {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }
  .highlight-items-container {
    flex-direction: column;
    gap: 30px;
  }
  .highlight-item {
    max-width: 360px;
    height: 284px;
    border-radius: 32px 0px 32px 0px;
  }
}

/* accordion section */
.accordion-section {
  max-width: 1440px;
  margin: auto;
  width: 87%;
  text-align: center;
}
.accordion-section-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}
.accordion {
  max-width: 500px;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.accordion-item {
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 3.370535373687744px 10.785713195800781px 0px #080f340f;
}
.accordion-button {
  width: 100%;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: white;
  transition: background-color 0.5s ease;
}

.accordion-button.active {
  border-top: 3px solid #56b70c;
}

.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;
}

.accordion-button .arrow {
  /* content: "\203A"; */
  font-size: 25px;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3.370535373687744px 10.785713195800781px 0px #080f340f;
  transition: background-color 0.5s, color 0.5s, transform 0.5s;
}

.accordion-button.active .arrow {
  background-color: black;
  color: white;
  transform: rotate(90deg);
}

.accordion-content p {
  padding: 10px;
  text-align: left;
}
.hero2-img img {
  width: 100%;
  max-width: 530px;
  height: auto;
  border-radius: 60px 0px 60px 0px;
}
.hero2-img {
  width: 50%;
}

/* contact-section */
.contact-section {
  max-width: 1440px;
  margin: auto;
  width: 87%;
  padding-bottom: 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.contact-sec-item {
  background-image: url("images/frame-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: auto;
  border-radius: 60px 0px 60px 0px;
  display: flex;
  justify-content: space-between; /* Ensure content and image are spaced properly */
  color: white;
  overflow: hidden; /* Keep everything within the rounded corners */
}

.contact-sec-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 90px 0px 90px 80px;
}

.hero3-img {
  flex-shrink: 0; /* Prevent image container from shrinking */
  display: flex;
  justify-content: center;
  align-items: center; /* Center the image vertically */
}

.hero3-img img {
  max-width: 500px; /* Adjust width automatically */
  height: auto; /* Set height to fill the container */
  max-height: 100%; /* Ensure it doesn't exceed the container's height */
  object-fit: cover; /* Cover the area of the container without stretching */
  border-radius: 60px 0px 60px 0px;
}
.contact-sec-text p {
  max-width: 450px;
  margin: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .contact-sec-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact-sec-text,
  .hero3-img {
    width: 90%; /* Adjust width on smaller screens */
    padding: 40px 20px; /* Adjust padding for smaller screens */
  }

  .hero3-img img {
    width: 100%; /* Full width for smaller screens */
    max-height: none;
    height: auto; /* Adjust height automatically */
  }
}
@media (min-width: 769px) and (max-width: 950px) {
  .contact-sec-item {
    flex-direction: row; /* Keep the row direction for larger views */
    align-items: stretch; /* Ensure items stretch to fill the container height */
    height: 300px;
  }

  .contact-sec-text,
  .hero3-img {
    flex: 1;
  }

  .hero3-img img {
    width: 100%; /* Adjust width to be responsive within the container */
    max-width: 300px; /* Limit the image's maximum width to prevent it from taking too much space */
    height: auto; /* Adjust height automatically to maintain aspect ratio */
    object-fit: scale-down; /* Scale down the image to fit while preserving its aspect ratio without cropping */
  }
}

footer {
  width: 100%;
  background: black;
  color: white;
  border-radius: 60px 60px 0px 0px;
}
.hero-footer-container {
  max-width: 1440px;
  margin: auto;
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
}
.hero-footer-logo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero-footer-social-icons {
  display: flex;
  gap: 20px;
}
.hero-footer-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.hero-footer-info {
  display: flex;
  gap: 20px;
}
.hero-footer-text {
  flex: 1;
  text-decoration: none;
}
.hero-footer-text ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* text-align: left; */
}
.hero-footer-logo p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  /* text-align: left; */
  margin-top: 16px;
  margin-bottom: 32px;
}
.hero-footer-text h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  /* text-align: left; */
  padding-bottom: 21px;
}
.trademark {
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 0 !important;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
.email-subscribe-container {
  position: relative;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 25px; /* Rounded corners for the container */
  overflow: hidden; /* Ensures the button stays within the container's rounded corners */
  display: flex; /* Aligns the input and button horizontally */
}

.email-input {
  width: 100%;
  border: none;
  /* max-width: 400px; */
  padding: 10px 20px;
  border-radius: 25px; /* Rounded corners for the input */
  outline: none; /* Removes the outline to keep the style clean */
  background: #ffffff1a;
}

.subscribe-btn {
  position: absolute;
  right: 0;
  border: none;
  background-color: #fafbfc; /* Example button color */
  color: rgb(17, 11, 11);
  padding: 10px 20px; /* Adjust as needed */
  border-radius: 39px; /* Rounded corners on the right side */
  cursor: pointer; /* Changes cursor to pointer on hover */
}

/* Adjusts the button to match the input height */
.email-input:focus + .subscribe-btn,
.subscribe-btn:focus {
  outline: none;
}

/* Optionally, style the button on hover for better user experience */
.subscribe-btn:hover {
  background-color: #56b70c; /* Darker shade on hover */
}
@media (max-width: 768px) {
  .hero-footer-container {
    padding: 40px 20px;
    flex-direction: column;
    gap: 30px; /* Add space between vertically stacked items */
  }

  .hero-footer-section {
    text-align: center; /* Center text */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    gap: 20px;
  }
  .hero-footer-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .accordion-toggle::after {
    content: "\203A"; /* Add the right-pointing angle quotation mark */
    display: inline-block;
    margin-left: 50px; /* Add space between the toggle text and the arrow */
    transform: rotate(0); /* Default state, not rotated */
    transition: transform 0.5s ease-in-out; /* Smooth transition for rotation */
  }

  .accordion-toggle.active::after {
    transform: rotate(90deg); /* Rotate arrow when active */
  }
  .hero-footer-social-icons {
    justify-content: center; /* Center-align social icons for better aesthetics */
  }

  .email-input,
  .subscribe-btn {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .email-subscribe-container {
    max-width: 100%; /* Allow the email subscribe container to fill available space */
    margin: 20px 0; /* Add some margin above and below */
  }

  .hero-footer-text h3,
  .hero-footer-logo p,
  .hero-footer-text ul {
    font-size: 14px; /* Adjust font size for readability on smaller screens */
  }

  .trademark {
    padding-bottom: 1rem;
  }

  .hero-footer-text ul {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .accordion-toggle.active + ul {
    display: block;
    max-height: 500px; /* Adjust this value based on your content */
    transition: max-height 0.5s ease-out;
  }

  .accordion-toggle {
    cursor: pointer;
  }
  .accordion-toggle {
    padding-bottom: 10px; /* Provides space for the border */
    transition: border-bottom 0.3s ease-in-out; /* Smooth transition for adding the border */
  }

  /* When active, add a bottom border */
  .accordion-toggle.active {
    border-bottom: 2px solid white;
  }
}
